version: '3.8'

services:
  api:
    image: nardiminardi/ahu-badan-usaha-api-dev:latest
    container_name: ahu_badan_usaha_api_dev
    restart: unless-stopped
    ports:
      - '3011:3011'
    environment:
      - NODE_ENV=development
      - LOG_LEVEL=debug
      - PORT=3011
      - DATABASE_URL=postgresql://postgres:AHUPostgres1!@192.168.72.90:5432/badan_usaha
      - MASTER_DATABASE_URL=postgresql://postgres:AHUPostgres1!@192.168.72.90:5432/master_data
      - USERMAN_DATABASE_URL=postgresql://postgres:AHUPostgres1!@192.168.72.90:5432/userman
      - NOTARIS_DATABASE_URL=postgresql://postgres:AHUPostgres1!@192.168.72.90:5432/notaris
      - JWT_SECRET='yGNRT6tBAbKTyJ5p'
      - S3_ENDPOINT=http://192.168.72.87:9000
      - S3_ACCESS_KEY=admin
      - S3_SECRET_KEY=admin123
      - S3_BUCKET=development
    volumes:
      - ./logs:/app/logs   # logs akan keluar ke folder host ./logs